.form{
    background-color: burlywood;
    width: fit-content;
    padding: 30px;
    font-size: 30px;
    
}

.input{
    background-color: darkkhaki;
    height: 30px;
    width: 100px;
}

.button{
    font-size: 30px;
    height: 60px;
    width: 140px;
    border-radius: 20px;
    animation-duration: o.5s;
    transition: 0.3s ease;
}

.button:hover{
    height: 75px;
    width: 175px;
    cursor: pointer;
    background-color: #6072F5;
    box-shadow: 0 0 5px #6072F5,
                0 0 5px #6072F5,
                0 0 5px #6072F5,
                0 0 5px #6072F5;
}